[Desktop Entry]
Type = Application

Name = Blender Render Control Center
GenericName = A simple application to control the blender render control server
Icon = blender

Exec = /usr/local/bin/blender_render_control_center
StartupWMClass = /usr/local/bin/blender_render_control_center
