[Desktop Entry]
Type = Application

Name = Blender Render Control Center
GenericName = A simple application to control the blender render control server
Icon = codes.ulbricht.imanuel.blender-render-control-center

Exec = blender-render-control-center
StartupWMClass = blender-render-control-center
