[Desktop Entry]
Type = Application

Name = Blender Render Control Center
GenericName = A simple application to control the blender render control server
Icon = blender

Exec = /usr/bin/blender-render-control-center
StartupWMClass = /usr/bin/blender-render-control-center
