[Desktop Entry]
Type=Application

Name=gui
GenericName=A Simple Application written with KDE Frameworks
Icon=gui

Exec=gui
StartupWMClass=gui
X-DocPath=gui/index.html
